.timer-container {
    border: 1px solid;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem ;       /*บน ขวา ล่าง ซ้าย*/
    background-color: rgb(212, 212, 212);
}

.timer-title{
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.timer-display{
  border-radius: 0.5rem;
  border: 1px solid;
  text-align: right;
  font-size: x-large;
  font-weight: bold;
  padding: 0.25rem 0.5rem;    /*บน ขวา ล่าง ซ้าย*/
  width: 16rem;
}

.timer-button{
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}





















/* .time-display {
  font-size: 2em;
  margin: 20px 0;
}

.Timer-name{
    color: rgb(3, 3, 49);
}

.timer-button {
    border: 1px solid;
    border-radius: 0.5rem;
    margin: 2px;
}

.timer-Start{
    background-color: #89e48d;
}
.timer-Stop{
    background-color: aliceblue;
}
.timer-Reset{
    background-color: rgb(245, 93, 93);
} */

/* .timer-button:hover {
  background-color: #45a049;
}

.timer-button:active {
  background-color: #1b521d;
} */
