.temperaturs-variables{
    border-radius: 0.5rem;
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    border: 1px solid black;
    background-color: rgb(141, 141, 141);
}

.temperaturs-title{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.temperaturs-display{
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;        /*ทำให้กรอบพอดี*/
}

.temperaturs-variables1{
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
    
}
