.counter-box{
    border: 1px solid;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    margin: 0 0 0.5rem 0;  /*บน ขวา ล่าง ซ้าย*/
    
}

.counter-name{
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin: 0 0.5rem;
}

.btn{            /*counter-button*/
    border: 1px solid;
    margin-bottom: 10px;
}

/* .counter-dec{
    background-color: rgb(253, 164, 164);
}

.counter-inc{
    background-color: rgb(141, 255, 141);
} */

.counter-value{
    font-size: xx-large;
    margin: 0 0.5rem ;
}