.products-container{
    border: 1px solid;
    text-align: center;
    padding: 5px;
}
.products-items-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    overflow-y: auto;
    height: 560px;
    margin-left: 20px;
    align-items: start;
}